body {
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Шрифт в проекте */
  font-size: 15px; /* Размер шрифта по умолчанию */
  line-height: 1.6; /* Межстрочный отступ */
  color: #333; /* Цвет шрифта */
}

/* Прописываем box-sizing для всех элементов страницы, а также для псевдо элементом after и before */
*,
*::after,
*::before {
  box-sizing: border-box; /* Позволяет значения padding и border вычитать из ширины и длины блока */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* Сбрасываем Margin у всех Heading'ов */
}

/* Header */
.header {
  width: 100%; /* Ширина */
  padding-top: 30px; /* Отступ в 30px */
  position: absolute; /* Header больше не занимает никакого пространства среди всех элементов, которые его окружали, когда он был в статическом или относительном состоянии */
  top: 0; /* Прижимаем его к верху */
  left: 0;
  right: 0;
  z-index: 1000; /* Для установки поверх всего */
}

.header__inner {
  display: flex; /* Определяет flex контейнер; inline или block в зависимости от заданного значения. Включает flex контекст для всех потомков первого уровня */
  justify-content: space-between; /* Первый и последний элемент будут заподлицо с концами контейнера и все пространство разделится поровну между элементами */
  align-items: center; /* Выравнивание по горизонтали по центру */
}

.header__logo {
  font-size: 30px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  color: #fff; /* Белый шрифт */
}

/* Nav */
.nav {
  font-size: 14px; /* Размер шрифта */
  text-transform: uppercase; /* Шрифт заглавными буквами */
}

/* Создаем стиль для ссылок */
.nav__link {
  display: inline-block; /* Это значение display используют, чтобы отобразить в одну строку блочные элементы, в том числе разных размеров. */
  vertical-align: top; /* Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы */
  margin: 0 15px; /* Устанавливаем Margin */
  position: relative;
  color: #fff; /* Белый шрифт */
  text-decoration: none; /* Убираем декорацию текста (подчеркивание) */
  transition: color 0.1s linear; /* Плавность изменения цвета шрифта */
}

/* Создание псевдо элемента (нижней полоски) */
.nav__link::after {
  content: ""; /* Содержание псевдоэлемента */
  display: block; /* Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе */
  width: 100%; /* Ширина */
  height: 3px; /* Высота */
  background-color: #fce38a; /* Цвет заливки */
  opacity: 0; /* Пока скрываем, сделаем при наведении */
  position: absolute; /* Указывает, что элемент абсолютно позиционирован */
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear; /* Плавное появление */
}

/* Стиль при наведении */
.nav__link:hover {
  color: #fce38a; /* Цвет шрифта */
}

/* При наведении на псевдо элемент */
.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1; /* Плавное появление */
}

/* Активный элемент навигационного меню */
.nav__link.active {
  color: #fce38a; /* Цвет шрифта */
}

/* Container */
.container {
  width: 100%; /* Ширина */
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto; /* Выравниваем по центру */
}

/* Intro */
.intro {
  display: flex; /* Определяет flex контейнер */
  flex-direction: column; /* Устанавливает основную ось (сверху-вниз) */
  justify-content: center; /* элементы центрированы вдоль линии */
  width: 100%; /* Ширина */
  height: 100vh; /* Высота занимает всю высоту окна */
  background: url(../images/intro.jpg) center no-repeat; /* Помещаем на задний фон изображение, ставим ее позицию по центру и убираем повтор  */
  background-size: cover; /* Чтобы изображение занимало всю площадь экрана */
}

/* Контейнер для Intro */
.intro__inner {
  width: 100%; /* Устанавливая свойство width: 100%, мы хотим, чтобы наш элемент занял всю ширину родительского элемента */
  max-width: 880px; /* Максимальная ширина */
  margin: 0 auto; /* Выравниваем по центру */
  text-align: center; /* Выравнивание текста по центру */
}

/* Текст для подзаголовка */
.intro__suptitle {
  margin-bottom: 20px; /* Отступ от заголовка */
  font-family: "Kaushan Script", cursive; /* Устанавливаем шрифт */
  font-size: 72px; /* Размер шрифта */
  color: #fff; /* Цвет шрифта */
}

/* Текст для заголовка */
.intro__title {
  color: #fff; /* Белый цвет шрифта */
  font-size: 150px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  text-transform: uppercase; /* Текст заглавными буквами */
  line-height: 1; /* Межстрочный интервал текста */
}

/* Создание псевдо элемента (полоски) */
.intro__title::after {
  content: ""; /* Содержимое псевдо элемента */
  display: block; /* Элемент показывается как блочный */
  width: 60px; /* Ширина */
  height: 3px; /* Высота */
  margin: 60px auto; /* Выравниваем по центру */
  background-color: #fff; /* Цвет заливки */
}

/* Button */
.btn {
  display: inline-block; /* Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу */
  vertical-align: top; /* Выравнивание верхнего края элемента по верху самого высокого элемента строки */
  padding: 8px 30px; /* Устанавливает значение полей вокруг содержимого элемента */
  border: 3px solid #fff; /* Рамка */
  font-size: 14px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  color: #fff; /* Цвет текста */
  text-transform: uppercase; /* Текст заглавными буквами */
  text-decoration: none; /* Убираем декорацию текста (подчеркивание снизу) */
  transition: background 0.1s linear, color 0.1s linear; /* Плавность  изменения цвета */
}

/* При наведении на кнопку */
.btn:hover {
  background-color: #fff; /* Цвет заливки */
  color: #333; /* Цвет текста */
}

/* Slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* Контейнер для слайдера */
.slider__inner {
  display: flex; /* Определяет flex контейнер */
  justify-content: space-between; /* Первый и последний элемент будут заподлицо с концами контейнера и все пространство разделится поровну между элементами */
}

/* Активный элемент слайдера */
.slider__item.active {
  opacity: 1; /* Убираем прозрачность элемента */
}

/* Стилизация текста в слайдере */
.slider__item {
  width: 23%; /* Ширина */
  font-size: 18px; /* Размер шрифта */
  color: #fff; /* Белый цвет текста */
  text-transform: uppercase; /* Текст заглавными буквами */
  padding: 20px 0; /* Устанавливает значение полей вокруг содержимого элемента */
  border-top: 3px solid #fff; /* Свойство border-top позволяет одновременно установить толщину, стиль и цвет границы сверху элемента */
  opacity: 0.7; /* Добавляем прозрачность элементов */
  position: relative; /* Положение элемента устанавливается относительно его исходного места */
}

/* Создаем псевдоэлемент before (Красная полоска) */
.slider__item.active::before {
  content: ""; /* Содержимое псевдо элемента */
  display: block; /* Элемент показывается как блочный */
  width: 70px; /* Ширина */
  height: 3px; /* Высота */
  position: absolute; /* Указывает, что элемент абсолютно позиционирован */
  top: -3px; /* Задаем положение */
  left: 0; /* Задаем положение */
  z-index: 1; /* Каждый элемент может находиться как ниже, так и выше других объектов веб-страницы, их размещением по z-оси и управляет z-index */
  background-color: #f38181; /* Цвет заливки */
}

/* Стилицация цифр в слайдере */
.slider__num {
  font-size: 24px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
}

/* Section */
.section {
  padding: 80px 0; /* Отступы */
}

/* Секция с описанием What we do */
.section__header {
  width: 100%; /* Ширина */
  max-width: 950px; /* Максимальная ширина */
  margin: 0 auto 40px; /* Создаем Margin'ы */
  margin-bottom: 40px; /* Отступ снизу */
  text-align: center; /* Выравниваем текст по центру */
}

/* Стилизация надзаголовка */
.section__suptitle {
  font-family: "Kaushan Script", cursive; /* Устанавливаем шрифт */
  font-size: 24px; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

/* Стилизация заголовка */
.section__title {
  font-size: 30px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  color: #333; /* Цвет шрифта */
  text-transform: uppercase; /* Текст заглавными буквами */
}

/* Добавление псевдо элемента под заголовком */
.section__title::after {
  content: ""; /* Содержимое псевдо элемента */
  display: block; /* Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе */
  width: 60px; /* Ширина */
  height: 3px; /* Высота */
  margin: 30px auto; /* Выравниваем по центру и делаем отступ */
  background-color: #f38181; /* Цвет заливки */
}

/* Стилизация текста */
.section__text {
  font-size: 15px; /* Размер шрифта */
  font-family: "Roboto", sans-serif; /* Покдлючаем шрифт */
  color: #999; /* Цвет шрифта */
}

/* About */
.about {
  margin-top: 80px; /* Отступ от верха */
  display: flex; /* Задаем flex контент */
  justify-content: space-between; /* Отодвигаем айтемы друг от друга */
}

/* Стилизуем айтем */
.about__item {
  width: 380px; /* Ширина */
  position: relative; /* Чтобы позиционировать текст поверх картинки */
  background-color: #95e1d3; /* Заданм цвет айтема */
}

/* Стилизуем при наводе на айтем */
.about__item:hover .about__text {
  opacity: 1; /* Показываем текст */
}

/* Стилизуем при наводе на айтем */
.about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0); /* Сдвигаем айтем по оси X и Y */
}

/* Стилизуем при наводе на картинку */
.about__item:hover .about__img img {
  opacity: 0.1; /* Затемняем картинку на 90% */
}

/* Стилизуем изображение */
.about__img {
  background: linear-gradient(
    to bottom,
    #f38181,
    #fce38a
  ); /* Задаем градиент */
  transition: transform 0.2s linear; /* Добавляем плавности */
}

/* Стилизуем изображение */
.about__img img {
  display: block; /* Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе */
  transition: opacity 0.1s linear; /* Устанавливает эффект перехода между двумя состояниями элемента, они могут быть определены с помощью псевдоэлемента :hover или :active */
}

/* Стилизуем текст */
.about__text {
  width: 100%; /* Для position absolute */
  font-size: 18px; /* Размер шрифта */
  color: #fff; /* Цвет шрифта */
  text-transform: uppercase; /* Текст заглавными буквами */
  font-weight: 700; /* Жирный шрифт */
  text-align: center; /* Текст посередине */
  opacity: 0; /* Скрываем текст */
  position: absolute; /* Чтобы появлсял текст при наводе */
  top: 50%; /* Делаем текст посередине по оси Y */
  left: 0; /*  */
  z-index: 2; /*  */
  transform: translate3d(0, -50%, 0); /* Делаем текст посередине по оси Y */
  transition: opacity 0.2s linear; /* Задаем плавность появления текста */
}

/* Statistics */
.statistics {
  background-color: #95e1d3; /* Цвет заливки */
}

/* Стилизуем контейнер */
.stat {
  display: flex; /* Создаем flex контейнер */
}

/* Стилизуем айтемы */
.stat__item {
  flex: 1 1 0; /* Делаем колонки одинаковой ширины */
  padding: 70px 25px; /* Делаем отступы */
  border-left: 1px solid #b5eae0; /* Цвет границ */
  text-align: center; /* Выравниваем по центру */
  color: #fff; /* Цвет текста */
}

/* Для стилизации последнего блока */
.stat__item:last-child {
  border-right: 1px solid #b5eae0; /* Задаем цвет границы последнему элементу */
}

/* Стилизуем цифры */
.stat__count {
  margin-bottom: 10px; /* Отступ снизу */
  font-size: 72px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  line-height: 1; /* Устанавливает интерлиньяж (межстрочный интервал) текста, отсчет ведется от базовой линии шрифта */
}

/* Стилизуем текст */
.stat__text {
  font-size: 14px; /* Размер шрифта */
  text-transform: uppercase; /* Текст заглавными буквами */
}
